<nav>
    <div id="nav-items">
        <div id="left-relative">
            <img src="./static/img/MeleeLogo.png" alt="">
            <div id='logo-title'>SSBM DB</div>
        </div>
        <div id='right-relative'>
            <a href='{{url_for('About')}}'>About</a>
            <a href='{{url_for('Tiers')}}'>Tiers</a>
            {% if login_session.username %}
                <a href='{{url_for('Profile')}}'>
                    Welcome, {{login_session.username}} 
                    <img src='{{login_session.picture}}'>
                </a>
            {% endif %}
            {% if login_session is none %}
                <a href='{{url_for('Login')}}' id='login-button'>Login</a>
            {% endif %}
        </div>
    </div>
</nav>