* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Fredoka One';
    width: 100%;
    height: 68px;
    position: fixed;
    top: 0;
    background-color: #5e6472;
    display: flex;
    border-bottom: 1px solid #faf3dd;
    z-index: 999;
}

#nav-items {
    width: 60%;
    display: flex;
    margin: auto;
}

#left-relative {
    width: 35%;
    display: flex;
}

#left-relative img {
    width: 55px;
    height: 35px;
    border-radius: 35%;
}

#logo-title {
    color: #fff;
    display: inline-block;
    font-size: 1.8em;
    margin-left: 8px;
}

#right-relative {
    width: 65%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: flex-end;
}

#right-relative a {
    text-decoration: none;
    font-size: 1.5em;
    color: #fff;
    display: inline-block;
    margin: 0 15px 0 15px;
    position: relative;
}

#right-relative a:after {
    content: '';
    border-bottom: 3px solid #fff;
    display: block;
    width: 0;
    position: absolute;
    right: 0;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    border-radius: 20%;
}

#right-relative a:hover:after {
    width: 100%;
}

#right-relative a:active {
    color: #ffcb36;
}

