<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="./static/styles/nav.css">
    <link rel="stylesheet" type="text/css" href="./static/styles/style.css">
    <link rel="stylesheet" type="text/css" href="./static/styles/footer.css">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
    <title>Profile</title>
</head>
<body>
    <div id="landing">
        <div id="wrapper">
            {% include "/components/navbar.html" %}
        </div>
        {% include "/components/footer.html" %}
    </div>
</body>
</html>