@font-face {
	font-family: 'Gotham Rounded Light';
	src: url("../static/fonts/GothamRoundedLight_21020.ttf");
}

@font-face {
	font-family: 'Gotham Rounded Medium';
	src: url("../static/fonts/GothamRounded-Medium.otf");
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

h1 {
	font-family: 'Gotham Rounded Medium';
}

p, section, a, nav, div {
	font-family: 'Gotham Rounded Light';
}

:focus {
	outline: none;
}

body {
	width: 100%;
}

.wrapper {
    position: relative;
    top: 100px;
    width: 58%;
    margin: auto;
}

#tiers-wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: minmax(10px, auto);
    justify-items: stretch;
}

.tier:hover {
    cursor: pointer;
}

#tier-title, #chars-title {
    text-align: center;
}

.character div {
    display: grid;
    grid-auto-rows: minmax(10px, auto);
}

.chars a, .tier {
    padding: 8px;
    margin: 5px;
    background-color: #ccc;
    border-radius: 5px;
    color: #000;
}

.tier {
    font-size: 1.5em;
    text-align: center;
    transition: all .2s;
    border-left: 5px solid transparent;
}

.tier:hover {
    border-left: 5px solid #5e6472;
}

.chars a {
    display: block;
    font-size: 1.1em;
}

.profile-wrap {
    position: relative;
    top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.prof-pic {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.profile-wrap h1 {
    margin: auto;
    vertical-align: center;
    font-weight: 100;
}

nav {
    font-family: 'Fredoka One';
    width: 100%;
    height: 68px;
    position: fixed;
    top: 0;
    background-color: #5e6472;
    display: flex;
    border-bottom: 1px solid #faf3dd;
    z-index: 999;
}

#nav-items {
    width: 60%;
    display: flex;
    margin: auto;
}

#left-relative {
    width: 35%;
    display: flex;
}

#left-relative img {
    width: 55px;
    height: 35px;
    border-radius: 35%;
}

#logo-title {
    color: #fff;
    display: inline-block;
    font-size: 1.8em;
    margin-left: 8px;
}

#right-relative {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#right-relative a {
    text-decoration: none;
    font-size: 1.5em;
    color: #fff;
    display: inline-block;
    margin: 0 15px 0 15px;
}

#right-relative a:after {
    content: '';
    border-bottom: 3px solid #fff;
    display: block;
    width: 0;
    position: absolute;
    right: 0;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    border-radius: 20%;
}

#right-relative a:hover:after {
    width: 100%;
}

#right-relative a:active {
    color: #ffcb36;
}

.mobile-nav {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 3px 2px 8px #000;
    display: none;
}

@media screen and (max-width: 975px) {
    #logo-title {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    #left-relative {
        display: none;
    }
    #right-relative {
        display: block;
        width: 100vw;
        font-size: .6rem;
    }
}

.container {
    position: relative;
    top: 100px;
    display: grid;
    width: 75%;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(75px, auto);
    grid-column-gap: 1em;
}

.box {
    background-color: #5e6472;
    color: #ffa69e;
    box-shadow: 3px 3px 10px #ccc;
    border-radius: 5px;
    padding: 15px;
    font-family: 'Varela Round';
}

.title {
    margin-bottom: 15px;
}

.left {
    grid-column: 1 / 2;
    text-align: center;
}

.right {
    grid-column: 2 / 3;
    text-align: center;
}

.form {
    display: grid;
    grid-auto-rows: minmax(20px, auto);
    grid-gap: 1em;
}

.input {
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #faf3dd;
    padding: 10px;
    font-size: 1em;
    color: #ffa69e;
}

.btn {
    background-color: #ffa69e;
    transition: all .5s;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 2em;
    font-family: 'Varela Round';
}

.btn:hover {
    cursor: pointer;
    background-color: #c27872;
}

.abcRioButton {
    margin: auto;
}

@media screen and (max-width: 700px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1em;
    }
    .left {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .right {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
}

footer {
    width: 100%;
    display: block;
    text-align: center;
}

.profile-wrap .footer p {
    display: inline-block;
    margin: 20px 2px;
    color: #000;
    font-size: 1.1em;
}

.fa {
    font-size: 1.3em !important;
    padding: 10px;
}

.footer a {
    color: #000;
}

.fa:hover {
    opacity: .7;
}

.about-wrap {
    position: relative;
    top: 100px;
    width: 65%;
    margin: auto;
}

.about-wrap h1 {
    text-align: center;
    padding: 15px;
}

.about-wrap section, 
.about-wrap p {
    margin: 15px;
    padding: 15px;
    line-height: 1.5em;
    letter-spacing: .02em;
    font-weight: 100;
}

.about-wrap h1 {
    border-bottom: #ccc dotted 1px;
}