<html>
	<head>
		<title>SSBM Discussion</title>
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="./static/styles/style.css">
		<link rel="stylesheet" type="text/css" href="./static/styles/nav.css">
	</head>
	<body>
		<nav>
			<div id='nav-logo'>SSBM Discussion</div>
			<div id='nav-options'>
				<a href='{{url_for('Tiers')}}'>Tiers</a>
				<a href='{{url_for('About')}}'>About</a>
				<a href='{{url_for('Profile')}}'>Profile</a>
				<a href='{{url_for('Login')}}'>Login</a>
			</div>
		</nav>
	</body>
</html>