<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./static/styles/nav.css">
    <link rel="stylesheet" href="./static/styles/style.css">
    <title>Login</title>
</head>
<body>
    <nav>
        <div id='nav-logo'>Catalog App</div>
        <div id='nav-options'>
            <a href='#'>Categories</a>
            <a href='#'>About</a>
            <a href='#'>Profile</a>
        </div>
    </nav>
    {{session['state']}}
</body>
</html>