footer {
    width: 100%;
    height: 15vh;
    text-align: center;
    align-items: center;
    display: flex;
}

footer p {
    margin-left: 50px;
    color: #000;
}

footer p a {
    text-decoration: none;
    color: #3339FF;
    border-bottom: 1px solid transparent;
}

footer p a:hover {
    border-bottom: 1px #3339FF solid;
}