<div class="about-wrap">
    <h1 class="about-title">About Me</h1>
    <section>
        My name is Alec Mather and I am a self-taught developer.
        I created this website because I love the game Super
        Smash Brothers Melee. I want to give back to the community
        by providing a place to continue the converstaion surrounding
        the characters. I mained Falco and Marth when I played competitively
        and so there might be some bias there... Regardless, I love this
        game and love you whatever character you play.
    </section>
    <p>A bit more...</p>
    <section>
        In high school I created the Super Smash Bros club. The administration
        did not want us to make the club and told us to just go to computer
        club if we "wanted to play with technology." Obviously, they had no idea
        what they were saying, so me and my two closest friends at the time
        decided to petition to make the club anyway. We got hundreds of signatures
        and still, they said no. Fortunely, we also said no to them. For about 
        two weeks we went around to every Goodwill in the area and bought
        old CRT T.V.s for a dollar a T.V. and had to bring a Gamecube along with
        us to test it out because there was a good chance we were being sold a Dud.
    </section>
    <section>
        Eventually we had enough T.V.s and donated Gamecubes, controllers, and 
        illegal copies of Melee copied onto an SD card to start our club. Once
        again, we brought it to administration. They told us that our idea was 
        absurd, that nobody would come to our club, that we wouldn't be able to
        find a teacher to host a room for us after school. Honestly, we didn't
        even hear them, we just wanted to play Smash, and we were going to do it
        one way or another.
    </section>
    <section>
        Mr. Wash, much of my high school experience is thanks to you. Mr. Wash,
        a science teacher I never even had, a guy who just liked old videogames,
        allowed us an hour and a half on Tuesdays after school to play Smash.
        Even if he had kids taking makeup tests, even if we were being loud and
        annoying other teachers, despite everything, he supported our club. And
        for that, Mr. Wash, you are the absolute Man. Thank you.
    </section>
    <section>
        The beginning of the smash club was nothing short of a complete success.
        We had over 70 people show up for our first meeting, and I rememember 
        feeling so incredibly happy, just to see all these people here together,
        just to love the game that held such a special place in my heart. You 
        all were the success behind our club. Thank you <3
    </section>
    <section>
        Weeks went by and the numbers began to wane. Only the dedicated stayed
        past the first few meetings. And soon, we had pruned our club into
        a beautiful machine of dedicated players. We were creating a naturally 
        competitive environment. And so naturally, we began to hold tournaments.
    </section>
    <section>
        We began to connect to other schools who had heard that we had started
        a smash club, and soon everyone was trying to build their own. None 
        came close to us... We challenged every school that poped up, 
        and tore through everyone in crew battles. The only time they came close 
        was if all the schools put together their best players, and still, 
        it was always a close game.
    </section>
    <section>
        Melee is and will always remain my favorite videogame of all time. Although 
        with Armada's retirement, Melee being removed from Evo, Mang0s inability 
        to ever be sober, all of those things are what make it beautiful. Our 
        love of the game is what holds us together. The communal dedication and respect is 
        beyond that of any game I've ever seen. 
    </section>
    <section>
        To everyone who built the Benet Academy Smash Club, to everyone who contributed 
        their gamecubes, to all the people who play melee, and a special thanks to everyone 
        who came and supported our club, you know who you are, thank you. This is just a 
        continuation of all that I've wanted to provide to the people.
    </section>
    <section>
        Special thanks: SAC, Fox Capacitor, Drefex, Doublecork, Trix, Withers, Puff Puff Pass, Jason.
    </section>

    {% include "/components/footer.html" %}
</div>