<style>
    .character-wrapper {
        position: relative;
        top: 150px;
        text-align: center;
    }
    .character-img {
        width: 200px;
        height: auto;
    }
    .discussion-wrapper {
        margin-top: 50px;
    }
    .message {
        width: 60%;
        height: auto;
        margin-top: 50px;
        font-size: 1rem;
        text-align: none;
        padding: 1em 0;
    }
    .btn-submit {
        font-size: 1rem;
        padding: 1em 2em;
        border: 1px solid lightcoral;
        color: lightcoral;
    }
    .btn-submit:hover {
        cursor: pointer;
    }
    .message-wrapper {
        width: 60%;
        background-color: #fafafa;
        border: 1px solid lightcoral;
        padding: 1em 2em;
        margin: 1em auto;
        border-radius: 5px;
    }
</style>

<div class="character-wrapper">

    <img class='character-img' src="/static/img/{{character.image}}" alt="{{character.name}}">
    <h1 class="char-name">
        {{character.name}}
    </h1>
    
    <p class="char-description">
        {{character.description}}
    </p>

    <div class="edit-delete-buttons">
        <span><a href='{{url_for("EditCharacter", char_name=character.name)}}'>Edit</a></span>
    </div>

    <section class='discussion-wrapper'>
        <h2>Join the Conversation</h2>
        <form action="{{url_for('Characters', char_name=character.name)}}" method='POST'>
            <input type="text" name='message' class='message'>
            <button type='submit' class='btn-submit'>Submit</button>
        </form>

        {% for comment in comments %}
            <div class="message-wrapper">
                <h5>{{comment.username}}</h5>
                <p>{{comment.message}}</p>
                <footer>{{comment.date}}</footer>
                {% if login_session.username == comment.username %}
                    <div class="edit-delete-buttons">
                        <span><a href="{{url_for('EditPost', char_name=character.name, post_id=comment.id)}}">Edit</a></span>
                        <span><a href="{{url_for('DeletePost', char_name=character.name, post_id=comment.id)}}">Delete</a></span>
                    </div>
                {% endif %}
            </div>
        {% endfor %}

    </section>
</div>