<div class="wrapper character-wrapper">

    <img class='character-img' src="/static/img/{{character.image}}" alt="{{character.name}}">
    <h1 class="char-name">
        {{character.name}}
    </h1>
    
    <p class="char-description">
        {{character.description}}
    </p>

    {% if login_session.permission == 'admin' %}
        <div class="edit-delete-buttons">
            <span><a href='{{url_for("EditCharacter", char_name=character.name)}}'>Edit</a></span>
        </div>
    {% endif %}

    <section class='discussion-wrapper'>
        <h2>Join the Conversation</h2>
        <form class='form' action="{{url_for('Characters', char_name=character.name)}}" method='POST'>
            <textarea type="text" name='message' class='textbox'></textarea>
            <button type='submit' class='btn'>Submit</button>
        </form>
        <h1>Comments</h1>

        {% for comment in comments %}
            <div class="message-wrapper">
                <p class='message-name'>{{comment.username}}</p>
                <p class='message-body'>{{comment.message}}</p>
                <p class='message-date'>{{comment.date}}</p>
                {% if login_session.username == comment.username %}
                    <div class="edit-delete-buttons">
                        <span><a href="{{url_for('EditPost', char_name=character.name, post_id=comment.id)}}">Edit</a></span>
                        <span><a href="{{url_for('DeletePost', char_name=character.name, post_id=comment.id)}}">Delete</a></span>
                    </div>
                {% endif %}
            </div>
        {% endfor %} 
    </section>
</div>