<!--BODY START-->
<div class="wrapper editCharacter-wrapper">

    <img class='character-img' src="/static/img/{{character.image}}" alt="{{character.name}}">
    <h1 class="char-name">
        {{character.name}}
    </h1>
    
    <form class='form' action='{{url_for("EditCharacter", char_name=character.name)}}' method='POST'>
        <textarea class='textbox' type='text' name='body'>{{character.description}}
        </textarea>
        <button type='submit' class='btn'>Submit</button>
    </form>

</div>
<!--BODY END-->