<!--BODY START-->
<div class='wrapper char-select-wrap'>
    <div class="tiers-wrapper">
        <h1 id='tier-title'>Tiers</h1>
        {% for tier in tiers %}
            <div class='tier click'>{{tier.name}}</div>
        {% endfor %}
    </div>
    <div class="characters-wrapper">
        <h1 id='chars-title'>Characters</h1>
        <div class="chars SS">
            {% for char in SS %}
                <a href='{{url_for("Characters",char_name=char.name)}}'>{{char.name}}</a>
            {% endfor %}
        </div>
        <div class="chars S">
            {% for char in S %}
                <a href='{{url_for("Characters",char_name=char.name)}}'>{{char.name}}</a>
            {% endfor %}
        </div>
        <div class="chars A">
            {% for char in A %}
                <a href='{{url_for("Characters",char_name=char.name)}}'>{{char.name}}</a>
            {% endfor %}
        </div>
        <div class="chars B">
            {% for char in B %}
                <a href='{{url_for("Characters",char_name=char.name)}}'>{{char.name}}</a>
            {% endfor %}
        </div>
        <div class="chars C">
            {% for char in C %}
                <a href='{{url_for("Characters",char_name=char.name)}}'>{{char.name}}</a>
            {% endfor %}
        </div>
        <div class="chars D">
            {% for char in D %}
                <a href='{{url_for("Characters",char_name=char.name)}}'>{{char.name}}</a>
            {% endfor %}
        </div>
        <div class="chars E">
            {% for char in E %}
                <a href='{{url_for("Characters",char_name=char.name)}}'>{{char.name}}</a>
            {% endfor %}
        </div>
        <div class="chars F">
            {% for char in F %}
                <a href='{{url_for("Characters",char_name=char.name)}}'>{{char.name}}</a>
            {% endfor %}
        </div>
    </div>
</div>
<!--BODY END-->